.fixed-column {
    position: sticky;
    right: 0;
    background-color: #fff;
  }
  
  
  .table-condensed {
    font-size: 14px;
  }
  
  table {
    font-size: 14px;
  }
  
  table th {
    text-align: center;
  }